<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fh_zwickau.taskerapp">

    <application
        android:name=".TaskerApp"
        android:allowBackup="true"
        android:icon="@mipmap/tasker"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tasker_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".todoapp.db.TaskProvider"
            android:authorities="de.fh_zwickau.taskerapp.todoapp"
            android:exported="false"/>

        <activity android:name=".todoapp.TodoEntryActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name=".todoapp.TaskActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light"
            android:parentActivityName=".todoapp.TodoEntryActivity"/>

        <activity
            android:name=".todoapp.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light"
            android:parentActivityName=".todoapp.TodoEntryActivity"/>

        <activity
            android:name=".todoapp.TaskDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light"
            android:parentActivityName=".todoapp.TodoEntryActivity"/>

        <service
            android:name=".todoapp.db.TaskUpdateService"
            android:exported="false" />


        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".questionnaire.ui.QuestionnaireListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".questionnaire.ui.QuestionLayout"
            android:screenOrientation="portrait"/>
        <activity android:name=".questionnaire.ui.QuestionnaireResultActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".AbouttmActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>